<ion-header>
  <ion-toolbar>
    <ion-title>Suitability Criteria</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="OnCancelButtonClicked()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-icon name="information-circle-outline"></ion-icon>
                Description
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Please adjust the importance weights for each category</p>
        </ion-card-content>
    </ion-card>
  <app-range-example [ranges]="ranges" (rangesChange)="onRangesChange($event)"></app-range-example>
  <div class="ion-margin ion-text-center">
    <ion-button (click)="onApplyButtonClicked()">Confirm</ion-button>
    <ion-button class="ion-padding-start" fill="outline" (click)="onResetButtonClicked()">Reset</ion-button>
      <ion-button class="ion-padding-start" color="danger" fill="outline" (click)=" OnCancelButtonClicked()">Close</ion-button>
  </div>
</ion-content>

<ion-footer>
</ion-footer>
