<div *ngFor="let range of ranges; let i = index">
  <ion-item>
    <ion-label>{{ range.label }}</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="range.locked">
      Lock
    </ion-checkbox>
    <ion-checkbox slot="end" [(ngModel)]="range.ignore" (ionChange)="onIgnoreChange()">
      Ignore
    </ion-checkbox>
  </ion-item>
  <ion-range
    [(ngModel)]="range.value"
    (ionKnobMoveStart)="onKnobMoveStart(i)"
    (ionKnobMoveEnd)="onKnobMoveEnd($event, i)"
    [disabled]="range.locked || range.ignore"
    min="0"
    max="100"
    [pin]="true"
    [ticks]="true"
  >
    <ion-label slot="start">{{ range.value | integer }}</ion-label>
  </ion-range>
</div>
<div>Total Weight: {{ total | integer }}</div>
