<ion-split-pane when="md" contentId="main">
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-button class="ion-padding" (click)="presentDynamicFilterModal()">
          Dynamic adjust Ranges
        </ion-button>
      </ion-item>

      <ion-item *ngFor="let range of ranges">
        <ion-checkbox slot="start" [(ngModel)]="range.ignore" (ionChange)="onDynamicRangesMenuCheckboxChange($event, range)"></ion-checkbox>
        <ion-icon name="layers-outline" slot="start"></ion-icon>
        <ion-label>{{ range.label }}</ion-label>
      </ion-item>

    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-header>
      <ion-toolbar>
        <!-- Add the ion-menu-button here -->
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Main View</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div
        class="leaflet"
        leaflet
        (leafletMapReady)="onMapReady($event)"
        [leafletOptions]="mapOptions"
      ></div>
    </ion-content>
  </div>
</ion-split-pane>
